body {
  background-color: #2a2a2a;
  color: beige;
}
a {
  color: pink;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color: pink;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  }
